#프로젝트 부가요소
부가 요소/*

# Node.js & TypeScript (기술 스택 관련)
node_modules/*
dist/
*.tsbuildinfo

# MariaDB & Docker (인프라 관련)
server-docker-compose/mariadb/*
!server-docker-compose/mariadb/.gitkeep
.env

#작업도구
.vs/
.vscode/

#기타 임시 파일
*.log
.DS_Store
Thumbs.db