services:
  # 1. MQTT 브로커 (우체국)
  mqtt:
    image: eclipse-mosquitto:latest
    container_name: mqtt-broker
    ports:
      # OS역할로 compose이기 때문에 외부, 내부망 포트 번호를 전부 환경변수처리
      - "${MQTT_EXT_PORT}:${MQTT_INT_PORT}"
    volumes:
      # 설정 파일 매핑 (읽기 전용: ro)
      - ./mosquitto/docker-entrypoint.sh:/docker-entrypoint.sh:ro
      # 로그 파일을 내 컴퓨터의 볼륨으로 빼내기
      - ./mosquitto/log:/mosquitto/log
      
    command: sh /docker-entrypoint.sh
    environment:
      - MQTT_INT_PORT=${MQTT_INT_PORT}

    networks:
      - compose-net

  # 2. 데이터베이스 (금고)
  database:
    image: mariadb:latest
    container_name: database
    environment:
      # .env 파일의 변수들을 주입합니다.
      MARIADB_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MARIADB_DATABASE: ${DB_NAME}
    volumes:
      # DB 실제 데이터를 내 컴퓨터(mariadb 폴더)에 영구 보존
      # (.gitignore에 설정해둔 그 폴더입니다!)
      - ./mariadb:/var/lib/mysql
    networks:
      - compose-net

networks:
  compose-net:
    driver: bridge